*{
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    width:100%;
    height:100vh;
    margin: 0px;
    padding: 0px;
  font-family: 'Open Sans' ,sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap:60px;
    padding:20px;
}
img{
    width:40px;
    height:30px; 
    background-color:black;
}
.head-1{
    width: 50%;
    height:40px;
    color:bisque;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin:30px;
    font-size: 15px;
    font-weight: 100;
}
.box-1{
  margin-top:50px;
}
.box-3{
    border: none;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}

 .box-1,.box-2,.box-3{
    background-color: bisque; 
  display:flex;
  justify-content: space-around;
  align-items: start;
  width:490px;
  
 } 
.item{
   width:490px;
  background-color: bisque; 
  padding:2px;
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;

}

.coffee{
  font-size: 20px;
    font-weight: bold;
    color:black;   
}
.span{
    font-weight: bold;
    gap:20px;
    margin-top: 20px;
    font-size: 20px;
    color:black;
}
.menu{
    display: flex;
    flex-direction: column;
    gap:0px;
    width:400px;
    height:160px;
    min-height: 100px;
   border-bottom: 2px solid burlywood ;
}
.box{
    display: flex;
    flex-direction: column;
   width:400px;
   right:3px;
    min-height: 100px;
    margin-left: 0px; 
}

p{
    color:rgb(117, 74, 17);
}
.main-container{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width:960px; 
    flex-direction: row; 
    gap:70px;
    width:1000px;
    border-radius:50px ;
    
}
.small-container,.middium{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: bisque;
    position: relative;
    padding:10px;
    width:100%;
    height: 100%;
     border-radius:20px ;
}
.middium{
     border-radius:20px ;
    padding:30px;
}
.both{
   display: flex;
    flex-direction: column;
    gap:30px;
    width:100%;
    height: 100%;
     border-top-left-radius:20px ;
}

  .example-group{
        position:relative;
        display: inline-block;
    }
    .example-input {
        border-color:rgb(117, 74, 17);
        padding:17px;
        width:350px;
        border-radius: 55px;
        margin:10px;
        background-color: bisque;
    }
    .input{
         border-color:rgba(0, 0, 0);
         background-color: bisque;
        padding: 17px;
        width:170px;
        border-radius: 55px;
        margin:10px;
    }
  
    .label{
        position: absolute;
        bottom: 80px;
        left:65px;
        background-color: bisque;
        padding: 0 4px;
    }
    .input-label {
        background-color: bisque;
        color:rgba(0, 0, 0);
        position: relative;
        left:35px;
        right:0px;
        top:20px;
        padding: 0 2px;
    }
    .vat{
         display:flex;
         flex-direction: row;
         justify-content: center;
         gap:150px;
         width:700px;
         
    }
    .text{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .span-2{
       display:flex;
        flex-direction: column; 
       align-items: flex-end;
        gap:20px;
    margin-top: 20px;
    font-size: 20px;
    color:black;
    }
    .number span:last-child,.text p:last-child{
       
        font-weight: bold;
    }
    button{
      background-color:burlywood;
      border: none;
      width:932px;
      padding:10px;
      border-radius: 50px;
      font-size: 20px;
    }
