*{
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    margin: 0px;
    padding: 0px;
  font-family: Open Sans ,sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap:60px;
}
img{
    width:40px;
    height:30px; 
    background-color:black;
}
.head-1{
    width: 50%;
    height:40px;
    color:bisque;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin:30px;
}
.box-1{
  margin-top:50px;
  border-bottom: 2px solid black;
}
.box-2{
    border-bottom: 2px solid black ;
}

 .box-1,.box-2,.box-3{
    background-color: bisque; 
  display:flex;
  justify-content: space-around;
  align-items: start;
  width:500px;
 } 
.item{
    
  background-color: bisque; 
  padding:2px;
  

}

.coffee{
  font-size: 20px;
    font-weight: 10;
    color:black;   
}
span{
    gap:20px;
    margin-top: 20px;
    font-size: 20px;
    
    color:black;
}
.menu{
    display: flex;
    flex-direction: column;
    gap:0px;
    width:350px;
    height:auto;
    min-height: 100px;
    margin-left: 0px;
   
}


p{
    color:rgb(117, 74, 17);
}
.main-container{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width:960px; 
    flex-direction: row; 
    gap:70px;
}
.small-container,.middium{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: bisque;
    position: relative;
    padding:10px;
    
    
}
.middium{
    
    padding:30px;
    
    
}
.both{
   display: flex;
    flex-direction: column;
    gap:30px;
    
}

  .example-group{
        position:relative;
        display: inline-block;
    }
    .example-input {
        border-color:rgb(117, 74, 17);
        padding:10px;
        width:350px;
        border-radius: 55px;
        margin:10px;
    }
    .input{
         border-color:bisque;
         
        padding:10px;
        width:170px;
        border-radius: 55px;
        margin:10px;
    }
  
    .label{
        position: absolute;
        left:65px;
    }
    .input-label {
        
        color:rgb(117, 74, 17);
        position: relative;
        left:25px;
        right:0px;
        top:10px;
        padding: 0 2px;
    }
    .vat{
         display:flex;
         flex-direction: row;
         justify-content: center;
         gap:150px;
         width:700px;
         
    }
    .text{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .span-2{
       display:flex;
        flex-direction: column; 
       align-items: flex-end;
        
    }
